@import "tailwindcss";


h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-content {
  text-align: center;
}

.spinner {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #2c7a7b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}